.App {
    --header_height: 60px;
    margin: 0 auto;
}

.hw {
    padding: 25px 50px;
    max-width: 1280px;
    margin: 0 auto;
    border-top: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
}

.hwTitle {
    padding: 131px 0px 10px 70px;

    color: #000;
    font-family: Montserrat;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}